* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Pangolin', cursive;

}


body{
    background-color: antiquewhite;
    margin: 50px 75px 75px 75px;
    max-width: 1280px; /*largura maxima*/
    min-width: 250px;
    max-height: 40px; /*altura maxima*/
    min-height: 20px;
}

header{

    position: fixed;
    font-size: 25px;
    margin: -150px 0px 0px 0px;
    background-color: rgba(141, 141, 141, 0.212);
    border-radius: 1rem;
    padding: 0px 1280px 0px 0px;
    
}



input[type="text"]{
    width: 200px; /*largura*/
    height: 25px;
    border-radius: 5rem;
}

input[type="submit"]{
    width: 45px; /*largura*/
    height: 25px; /*altura*/
}

#div1{
    display: block;
    margin: 150px 0px 0px 0px;
}
#div2{
    margin: 100px 0px 0px 0px;
}


.frase{
    color:rgb(255, 96, 202);
    font-size: 25px;
    background-color: rgb(147, 255, 255);
    border-radius: 1rem;
}

footer{
    text-align: justify;
    text-align: center;
    margin: 100px 0px 0px 0px;
}
